{% extends 'base.html'%}
{%block header%}
cart
{%endblock header%}

{% load static %}

{%block content%}
<section class="container">
	<div class="container text-secondary top">cart</div>
</section>
<div class="container">
	<div class="col-lg-12">
		<div class="card p-5 ">
			<div class="col-4 col-lg-2">
				<a href="#" class="d-flex btn btn-outline-dark"><img width="30" src="{% static 'img/021-back.png' %}"> continue shopping</a>
			</div>

			<br>
			<div class="justify-content-center align-items-center">
				<div class="d-block justify-content-between d-md-flex">
					<div class="m-4 m-md-0 text-center"><h1>Items: <strong>3</strong></h1></div>
					<div class="m-4 m-md-0 text-center"><h1>Totals: <strong>$12</strong></h1></div>
					<div class="m-4 m-md-0 text-center">
						<a class="btn fs-2 btn-success" href="{% url 'store:checkout' %}">checkout</a>
					</div>
				</div>
			</div>
		</div>
		<br>

		<div class="card p-5 mt-5">
			<div class="container">
				<div class="row">
					<div class="row align-items-center  text-center">
						<div class="col col-lg-4 d-none d-md-flex"></div>
						<h2 class="col">Items</h2>
						<h2 class="col">Price</h2>
						<h2 class="col">Quantity</h2>
						<h2 class="col">Total</h2>
					</div>

					<hr class="mb-5">

					<div class="row align-items-center text-center mb-5">
						<div class="col col-lg-4 d-none d-md-flex">
							<img class="cart_item_img" src="{% static 'img/2.jpg' %}">
						</div>						
						<h4 class="col">product 1</h4>
						<h4 class="col">$23</h4>
						<h4 class="col">4</h4>
						<h4 class="col">$12.58</h4>
					</div>

					<div class="row align-items-center text-center mb-5">
						<div class="col col-lg-4 d-none d-md-flex">
							<img class="cart_item_img" src="{% static 'img/1.png' %}">
						</div>						
						<h4 class="col">product 1</h4>
						<h4 class="col">$23</h4>
						<h4 class="col">4</h4>
						<h4 class="col">$12.58</h4>
					</div>

					<div class="row align-items-center text-center mb-5">
						<div class="col col-lg-4 d-none d-md-flex">
							<img class="cart_item_img" src="{% static 'img/4.png' %}">
						</div>						
						<h4 class="col">product 1</h4>
						<h4 class="col">$23</h4>
						<h4 class="col">4</h4>
						<h4 class="col">$12.58</h4>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
{%endblock content%}