{% extends 'base.html'%}
{%block header%}
checkout
{%endblock header%}

{% load static %}

{%block content%}
<section class="container">
	<div class="container text-secondary top">checkout</div>
</section>

<div class="container d-block d-lg-flex mt-5">
	<div class="container order-last mb-5">
		<div class="card">
			<div class="col-4">
				<a href="{% url 'store:store' %}" class="d-flex align-items-center btn btn-outline-dark"><img width="30" src="{% static 'img/arrow_back.png' %}"> continue shopping</a>
			</div>

			<hr>

			<h2 class="container">ORDER SUMMRY</h2>
			<hr>


			<div class="container">
				<div id="cartRep">
				
					
				</div>
				<hr>
			</div>

			<div class="container nav_items d-block d-md-flex justify-content-between">
				<h2>Items: <span id="c_item"></span></h2>
				<h2>Total: $<span id="c_total"></span></h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="form_wrapper">
			<form id="form">
				{%csrf_token%}
				<div class="card">
					<div id="user_info" class="row p-4">
						<input type="text" name="name" class="col-md-6" placeholder="Name.." required>
						<input type="email" name="email" class="col-md-6" placeholder="Email.." required> 
					</div>

					

					<div class="row p-4 pt-0" id="shipping_items">
						<h2 class="px-4">Shipping Address</h2>
						<input type="text" name="address" class="col-6" placeholder="Address.." required>
						<input type="text" name="city" class="col-6" placeholder="City.." required> 
						<input type="text" name="state" class="col-6" placeholder="State.." required>
						<input type="text" name="zipcode" class="col-6" placeholder="Zipcode.."> 
					</div>
				</div>
				<div class="col" id="formbtn" >
					<button class="btn btn-success col-12 mt-1" type="submit">contine</button>
				</div>			
			</form>
		</div>

		<div class="col align-items-center hidden" id="paypalbtn">
			<small class="fs-3">Paypal</small>
			<button id="make_pay" class="btn btn-secondary " type="submit">Make payment</button>
		</div>


	</div>

	<script type="text/javascript">
		var cart_url_obj = "{% url 'store:checkout' %}"
		var shipping = "{{order.shipping}}"
		var total = '{{order.get_cart_total}}'
		console.log(total)


		window.addEventListener('DOMContentLoaded', function(){	
			cartResponse(cart_url_obj);	
			shippingData(shipping, total);
		});	
		
	</script>
</div>
{%endblock content%}