{% extends 'base.html'%}
{%block header%}
checkout
{%endblock header%}

{% load static %}

{%block content%}
<section class="container">
	<div class="container text-secondary top">checkout</div>
</section>

<div class="container d-block d-lg-flex mt-5">
	<div class="container order-last mb-5">
		<div class="card">
			<div class="col-4">
				<a href="{% url 'store:store' %}" class="d-flex align-items-center btn btn-outline-dark"><img width="30" src="{% static 'img/arrow_back.png' %}"> continue shopping</a>
			</div>

			<hr>

			<h2 class="container">ORDER SUMMRY</h2>
			<hr>


			<div class="container">
				{% for items in item %}
				<div class="row align-items-center text-center mb-3">
				
					<div class="col col-lg-4 d-none d-md-flex">
						<img class="cart_item_img" src="{{items.product.product_image_url}}">
					</div>						
					<h5 class="col">{{items.product.name}}</h5>
					<h5 class="col">${{items.product.price}}</h5>
					<h5 class="col">{{items.quantity}}</h5>
					<h5 class="col">${{items.get_total}}</h5>
					
				</div>
				<hr>
				{% endfor %}
			</div>

			<div class="container nav_items d-block d-md-flex justify-content-between">
				<h2>Items: {{order.get_cart_items}}</h2>
				<h2>Total: ${{order.get_cart_total | floatformat:2}}</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card">
			<div class="row p-4">
				<input type="text" name="" class="col-md-6" placeholder="Name..">
				<input type="email" name="" class="col-md-6" placeholder="Email.."> 
			</div>

			<h2 class="px-4">Shipping Address</h2>

			<div class="row p-4 pt-0">
				<input type="text" name="" class="col-6" placeholder="Address..">
				<input type="text" name="" class="col-6" placeholder="City.."> 
				<input type="text" name="" class="col-6" placeholder="State..">
				<input type="text" name="" class="col-6" placeholder="Zipcode.."> 
			</div>
		</div>
		<div class="col">
			<button class="btn btn-success col-12 mt-1" type="submit">contine</button>
		</div>
	</div>	
</div>
{%endblock content%}