{% extends 'base.html'%}
{%block header%}
checkout
{%endblock header%}

{% load static %}

{%block content%}
<section class="container">
	<div class="container text-secondary top">checkout</div>
</section>

<div class="container d-block d-lg-flex mt-5">
	<div class="container order-last mb-5">
		<div class="card">
			<div class="col-4">
				<a href="#" class="d-flex btn btn-outline-dark"><img width="30" src="{% static 'img/021-back.png' %}"> continue shopping</a>
			</div>

			<hr>

			<h2 class="container nav_items">ORDER SUMMRY</h2>
			<hr>


			<div class="container">
				<div class="row align-items-center text-center mb-5">
					<div class="col col-lg-4 d-none d-md-flex">
						<img class="cart_item_img" src="{% static 'img/2.jpg' %}">
					</div>						
					<h4 class="col">product 1</h4>
					<h4 class="col">$23</h4>
					<h4 class="col">4</h4>
					<h4 class="col">$12.58</h4>
				</div>
			</div>

			<div class="container nav_items d-block d-md-flex justify-content-between">
				<h2>Items: 3</h2>
				<h2>Total: $124</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card">
			<div class="row p-4">
				<input type="text" name="" class="col-md-6" placeholder="Name..">
				<input type="email" name="" class="col-md-6" placeholder="Email.."> 
			</div>

			<h2 class="px-4">Shipping Address</h2>

			<div class="row p-4 pt-0">
				<input type="text" name="" class="col-6" placeholder="Address..">
				<input type="text" name="" class="col-6" placeholder="City.."> 
				<input type="text" name="" class="col-6" placeholder="State..">
				<input type="text" name="" class="col-6" placeholder="Zipcode.."> 
			</div>
		</div>
		<div class="col">
			<button class="btn btn-success col-12 mt-1" type="submit">contine</button>
		</div>
	</div>	
</div>
{%endblock content%}