{% extends 'base.html'%}
{%block header%}
Home | {{request.user}}
{%endblock header%}

{% load static %}

{%block content%}
<section class="container">
	
	<div class="row">
		<div class="text-secondary top">Products </div>

		{% for product in products %}
		<div class="col-lg-4 mb-4">
			<div class="card shadow">
				<img class="card-image-top" src="{{product.product_image_url}}">				
				<div class="card-body">
					<h3 class="fw-bold">{{product.name|truncatechars:50}}</h3>
					<div class="card-text mt-4 fs-4 d-flex justify-content-between align-items-center">
						<div class="d-flex">
							<button data-product="{{product.id}}" data-action="add" class="btn fs-5 add_btn update_cart">Add to cart</button>
							<a href="#" class="btn fs-5 add_btn">view</a>
						</div>
						<p>${{product.price}}</p>
					</div>					
				</div>
			</div>			
		</div>
		{% endfor %}
		
	</div>
</section>

<section class="bg-dark mt-5 pt-5 pb-5">
	<div class="container mt-5 mb-5">
		<h1 class="text-light m-5 Popular">Popular Shops</h1>
	</div>
	
	<div class="container">
		<div class="row obj mb-2 mt-5">
			<div class="col-md-6">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static bg-light">
				  <h1 class="mb-0 ">coca-kola</h3>
				  <p class="mb-1 fs-3 text-muted"><span class="fw-bold">Description:</span> Smart, Quality, Excellent</p>
				  <a href="#" class="stretched-link">Explore more</a>
				</div>
				<div class="col-auto d-none d-lg-block">
			    	<img src="{% static 'img/1.png' %}">
				</div>
			  </div>
			</div>

			<div class="col-md-6">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static bg-light">
				  <h1 class="mb-0 ">coca-kola</h3>
				  <p class="mb-1 fs-3 text-muted"><span class="fw-bold">Description:</span> Smart, Quality, Excellent</p>
				  <a href="#" class="stretched-link">Explore more</a>
				</div>
				<div class="col-auto d-none d-lg-block">
			    	<img src="{% static 'img/1.png' %}">
				</div>
			  </div>
			</div>

			<div class="col-md-6">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static bg-light">
				  <h1 class="mb-0 ">coca-kola</h3>
				  <p class="mb-1 fs-3 text-muted"><span class="fw-bold">Description:</span> Smart, Quality, Excellent</p>
				  <a href="#" class="stretched-link">Explore more</a>
				</div>
				<div class="col-auto d-none d-lg-block">
			    	<img src="{% static 'img/1.png' %}">
				</div>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static bg-light">
				  <h1 class="mb-0 ">coca-kola</h3>
				  <p class="mb-1 fs-3 text-muted"><span class="fw-bold">Description:</span> Smart, Quality, Excellent</p>
				  <a href="#" class="stretched-link">Explore more</a>
				</div>
				<div class="col-auto d-none d-lg-block">
			    	<img src="{% static 'img/1.png' %}">
				</div>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static bg-light">
				  <h1 class="mb-0 ">coca-kola</h3>
				  <p class="mb-1 fs-3 text-muted"><span class="fw-bold">Description:</span> Smart, Quality, Excellent</p>
				  <a href="#" class="stretched-link">Explore more</a>
				</div>
				<div class="col-auto d-none d-lg-block">
			    	<img src="{% static 'img/1.png' %}">
				</div>
			  </div>
			</div>
			<div class="col-md-6">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static bg-light">
				  <h1 class="mb-0 ">coca-kola</h3>
				  <p class="mb-1 fs-3 text-muted"><span class="fw-bold">Description:</span> Smart, Quality, Excellent</p>
				  <a href="#" class="stretched-link">Explore more</a>
				</div>
				<div class="col-auto d-none d-lg-block">
			    	<img src="{% static 'img/1.png' %}">
				</div>
			  </div>
			</div>
		</div>
	</div>

	</div>
</section>
{%endblock content%}